<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caramanta</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</head>
<body>
    <button class="boton2"><a href="../views/index.html">Inicio</a></button>
  
    <section class="banner">
     <h1>Caramanta</h1>

    </section>
    <section class="container my-5">
     <div class="class row">
         <div class="class col-12 col-md-8">
             <h3>Reportes Empresariales</h3>
             <p class="texto">Caramanta es un municipio de Antioquia, localizado en la subregión Suroeste del departamento de Antioquia. Limita por el norte con el municipio de Valparaíso, por el este y el sur con el departamento de Caldas, y por el oeste con el departamento de Caldas y con el municipio de Támesis</p>

         <button type="button" class="btn btn-success" id="btnReporte">Generar Reporte</button>
        
         <div class="d-none my-5" id="conenedor">
            <div class="container my-3">
                <div class="row">
                    <div class="col-12">
                        <h4 id="mensaje">Apreciado usuario, el reporte generado es:</h4>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#home-tab-pane" type="button" role="tab"
                        aria-controls="home-tab-pane" aria-selected="true">siembras mayores a 100 arboles</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                    aria-labelledby="home-tab" tabindex="0">
                    <iframe src="../table/Filtro5.html" class="w-100" height="400px"></iframe>
                </div>
            </div>
            <div id="cotainer_image">
                <h3>Diagarama de barras</h3>
                <img class="barcode-images" src="../assets/img/diagrams/Caramanta/graficarSiembraCaramanta.png">
            </div>
        </div>
         </div>
         <div class="class col-12 col-md-4   ">
             <a href="https://www.google.com/maps/place/caramanta/data=!4m2!3m1!1s0x8e4701de201a2e47:0x1706ed036a1dbc66?sa=X&ved=2ahUKEwjnwaDczrf_AhXaq4QIHZknDkMQ8gF6BAgTEAE">
                 <img src="../assets/img/caramanta.jpg" alt="Imagen de la ubicación" class="img1" >
             </a>
         </div>
     </div>
    </section>

    <footer>
     <section class="container-fluid bg-dark p-2 text-center text-white">
         <div class="row">
             <div class="col-12 col-md-6">
                 <h3>ANALISIS</h3>
                 <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium quaerat perspiciatis, ab in ipsum iusto expedita tenetur excepturi commodi voluptate assumenda debitis cumque ex labore nihil explicabo molestiae! Officiis.</P>
             </div>
             <div class="col-12 col-md-4 border-start">
                 <a href=""><i class="bi bi-instagram fs-2 me-3 text-white"></i></a>
                 <a href=""><i class="bi bi-facebook fs-2 me-3 text-white"></i></a>
                 <a href=""><i class="bi bi-whatsapp fs-2 me-3 text-white"></i></a>
             </div>
         </div>
     </section>
    </footer>
    <script src="../controllers/controlador.js"></script>

</body>
</html>