<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yarumal</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</head>
<body>
    <button class="boton2"><a href="../views/index.html">Inicio</a></button>
  
    <section class="banner">
     <h1>Yarumal</h1>

    </section>
    <section class="container my-5">
     <div class="class row">
         <div class="class col-12 col-md-8">
             <h3>Reportes Empresariales</h3>
             <p class="texto">Yarumal es un municipio de Colombia localizado en la subregión Norte del departamento de Antioquia. Su cabecera municipal está conformada por 20 barrios y la zona rural por 52 veredas y 7 corregimientos. Su clima es frío debido a su elevación sobre el nivel del mar (2.353 m). El nombre actual, Yarumal, proviene de la especie vegetal de nombre Yarumo, de la familia Urticaceae, muy abundante en la región por los días de la fundación y conocida en el lenguaje botánico latino como Cecropia peltata L. El municipio también es llamado la Ciudad Retablo, la Estrella del Norte y la Sultana del Norte</p>

         <button type="button" class="btn btn-success" id="btnReporte">Generar Reporte</button>
        
         <div class="d-none my-5" id="conenedor">
            <div class="container my-3">
                <div class="row">
                    <div class="col-12">
                        <h4 id="mensaje">Apreciado usuario, el reporte generado es:</h4>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#home-tab-pane" type="button" role="tab"
                        aria-controls="home-tab-pane" aria-selected="true">siembras mayores a 250 arboles</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                    aria-labelledby="home-tab" tabindex="0">
                    <iframe src="../table/Filtro6.html" class="w-100" height="400px"></iframe>
                </div>
            </div>
            <div id="cotainer_image">
                <h3>Diagarama de barras</h3>
                <img class="barcode-images" src="../assets/img/diagrams/Yarumal/graficarVeredaMarinillo.png">
            </div>
        </div>
         </div>
         <div class="class col-12 col-md-4   ">
             <a href="https://www.google.com/maps/place/Yarumal,+Antioquia/@6.9659279,-75.4200544,15.5z/data=!4m15!1m8!3m7!1s0x8e44f3ee80b0e6ed:0x29f8139052e98740!2sYarumal,+Antioquia!3b1!8m2!3d6.961969!4d-75.4190689!16zL20vMDdrNDl4!3m5!1s0x8e44f3ee80b0e6ed:0x29f8139052e98740!8m2!3d6.961969!4d-75.4190689!16zL20vMDdrNDl4?entry=ttu">
                 <img src="../assets/img/yarumal.jpg" alt="Imagen de la ubicación" class="img1" >
             </a>
         </div>
     </div>
    </section>

    <footer>
     <section class="container-fluid bg-dark p-2 text-center text-white">
         <div class="row">
             <div class="col-12 col-md-6">
                 <h3>ANALISIS</h3>
                 <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium quaerat perspiciatis, ab in ipsum iusto expedita tenetur excepturi commodi voluptate assumenda debitis cumque ex labore nihil explicabo molestiae! Officiis.</P>
             </div>
             <div class="col-12 col-md-4 border-start">
                 <a href=""><i class="bi bi-instagram fs-2 me-3 text-white"></i></a>
                 <a href=""><i class="bi bi-facebook fs-2 me-3 text-white"></i></a>
                 <a href=""><i class="bi bi-whatsapp fs-2 me-3 text-white"></i></a>
             </div>
         </div>
     </section>
    </footer>
    <script src="../controllers/controlador.js"></script>

</body>
</html>